/* styles.css */

.lowercasetoCapitalize {
    text-transform: lowercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.lowercasetoCapitalize::first-line{
    text-transform: capitalize;
}

 
  